{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                <div class="bg-gray-500 p-8 md:p-12 lg:px-16 lg:py-24">
                    <div class="mx-auto max-w-xl text-center content-center">
                        <h2 class="text-2xl font-bold text-white md:text-3xl">
                            Molxno Bookstore
                        </h2>

                        <p class="hidden text-white/90 sm:mt-4 sm:block">
                            Welcome to Molxno Bookstore, the best place to find your favorite books. We have a wide
                            variety of books for all tastes and ages. We are sure you will find the book you are looking
                            for.
                        </p>

                        <div class="mt-4 md:mt-8">
                            <a
                                    href="{% url "list_book" %}"
                                    class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-gray-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
                            >
                                Let's go
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />

                    <img
                            alt=""
                            src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                            class="h-40 w-full object-cover sm:h-56 md:h-full"
                    />
                </div>
            </div>
        </div>
    </section>
{% endblock %}
